VITE_SUPABASE_URL=https://vzxmdvesbbjaubgasihb.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qT12tQD9k9GxKuFtAlJ9Pw_we4P3cfj

VITE_API_BASE_URL=http://localhost:3000/api
VITE_USE_SHOPPING_API=true
